<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="game.mapper.player.UserMapper">
    <insert id="save" parameterType="game.world.entity.user.Player" useGeneratedKeys="true"
            keyProperty="id">
        insert into member(<include refid="all_cols" />)
        values(#{login_name},#{password},#{nick_name},#{real_name},#{phone},#{email},#{status},#{register_time},#{access_from},#{sell_channel},#{id_card_no},#{last_login_time},#{third_type},#{third_id},#{phone_verify},#{pwd_level})
    </insert>

    <update id="update" parameterType="Member">
        update member m
        <set>
            m.login_name=#{login_name},
            m.password=#{password},
            m.nick_name=#{nick_name},
            m.real_name=#{real_name},
            m.phone=#{phone},
            m.email=#{email},
            m.status=#{status},
            m.id_card_no=#{id_card_no},
            m.third_type=#{third_type},
            m.third_id=#{third_id},
            m.phone_verify=#{phone_verify},
            m.pwd_level=#{pwd_level}
        </set>
        <where>
            m.id=#{id}
        </where>
    </update>

    <update id="updatePhoneVerify" parameterType="Member">
        update member
        <set>
            phone_verify=#{phone_verify}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="updateLastLoginTime" parameterType="long">
        update member
        <set>
            last_login_time=NOW()
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="selectById" resultType="Member">
        select id,
        <include refid="all_cols" />
        from
        member m
        where
        m.id=#{id}
    </select>

    <select id="selectByLoginName" resultType="Member">
        select  id,<include refid="all_cols" /> from member where login_name=#{loginName}
    </select>

    <select id="selectByPage" resultType="Member">
        select * from member
        <where>
            <if test="loginName!=null">and login_name=#{loginName} </if>
            <if test="realName!=null">and real_name=#{realName} </if>
            <if test="idCardNo!=null">and id_card_no=#{idCardNo} </if>
            <if test="phone!=null">and phone=#{phone} </if>
            <if test="accessFrom!=null">and access_from=#{accessFrom} </if>
            <if test="registerStart!=null and registerEnd!=null">and register_time between #{registerStart} and #{registerEnd}</if>
            <if test="registerStart==null and registerEnd!=null">and register_time &lt;= #{registerEnd}</if>
            <if test="registerStart!=null and registerEnd==null">and register_time between #{registerStart} and NOW()</if>
        </where>
        order by register_time DESC
    </select>
    <select id="countByIdCardNoOrRealNameOrPhone" resultType="long">
        select count(*) from member
        <where>
            <if test="realName!=null">and real_name=#{realName} </if>
            <if test="idCardNo!=null">and id_card_no=#{idCardNo} </if>
            <if test="phone!=null">and phone=#{phone} </if>
        </where>
    </select>

    <select id="selectByThirdId" resultType="Member">
        select id,<include refid="all_cols" /> from member where third_type=#{third_type} and third_id=#{third_id}
    </select>

    <select id="selectByIds" resultType="Member">
        select id,<include refid="all_cols" /> from member m
        where m.id in
        <foreach collection="membet_id" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>


    <select id="countChannelMemberNumber" resultType="int">
        select count(1) from member m where m.sell_channel in
        <foreach collection="channelList" item="channel" separator="," open="(" close=")" >
            #{channel}
        </foreach>
        <if test="startTime!=null"> and m.register_time &gt;= #{startTime}</if>
        <if test="endTime!=null"> and m.register_time &lt;= #{endTime}</if>
    </select>
    <sql id="member_cps_col">
        m.id as member_id,m.login_name as login_name,m.register_time as register_time,m.phone as phone,
        ma.cash_balance as cash_balance,ma.gift_balance as gift_balance, ma.total_buy as total_buy,m.sell_channel as sell_channel
        ,ma.total_deposit as total_deposit
    </sql>
    <select id="queryMemberCpsInfoByPage" resultType="com.caipiao.commons.view.MemberCps">
        select <include refid="member_cps_col"/> from member m,member_account ma where m.id=ma.member_id
        and m.sell_channel=${channel}
        <if test="startTime!=null and endTime!=null">and m.register_time between #{startTime} and #{endTime}</if>
    </select>

</mapper>